@use '../variables'as *;

.contacto {
  margin: 20vh 0;

  form {
    border: white 1px solid;
    border-radius: 12px;
    padding: 2.5rem 8.5rem;
    width: 60vw;
    @include col(center, center);
    gap: 2.4rem;
    margin-bottom: 10vh;

    h4 {
      margin-bottom: 2rem;
      margin-top: 1.5rem;
    }

    .separator {
      @include row(center, center);
      gap: 1.6rem;
      width: 100%;
    }

    input,
    textarea {
      width: 100%;
      font-size: 1.5rem;
      padding: 1.8rem 1.6rem;
      border-radius: 12px;
      resize: none;

      &:focus {
        outline: none;
      }

    }

    button {
      @include cta-button(0.4em 3.8em);
    }
  }

  h3 {
    margin-bottom: 1.6rem;
  }

  .socials {
    @include row(center, center);
    gap: 1.8rem;
  }
}