@use '../variables'as *;

.beneficios-fp {
  margin-top: 20vh;
  margin-bottom: 20vh;

  h2 {
    margin-bottom: 7.8rem;
  }

  .subtitulo {
    color: $fc-gray;
    margin-bottom: 15rem;
  }

  &__list {
    margin-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 7rem;

    .item {
      gap: 2rem;
      @include col(flex-start, center);

      .img {
        width: 110px;
        height: 110px;
      }

      p {
        color: $fc-gray;
        width: 20ch;
        margin-top: 3rem;
      }

    }
  }

  .llenar-formulario {
    @include cta-button(0.45em 2.8em);
    font-size: 2rem;
  }

  @media (max-width: $bp-mobile) {
    margin: 10rem 0;
    text-align: center;

    h2 {
      margin-bottom: 4rem;
    }

    .subtitulo {
      margin-bottom: 8rem;
    }

    &__list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
      gap: 14rem;

      .item {
        gap: 0;

        p {
          width: 90%;
          line-height: 25.81px;
        }
      }
    }

    .llenar-formulario {
      padding: 0;
      padding-top: 0.75em;
      width: 100%;
      height: 5.2rem;
      font-size: 1.8rem;
    }
  }

}