@use 'variables' as *;

.hero2 {
  top: 132px;
  height: 520px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  @include col(center, flex-start);

  .container {
    // padding: 24vh auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding-left: 16.5rem;
  }

  &__content {

    h1 {
      margin-bottom: 5vh;
      transform: translateY(-3rem);
      opacity: 0;
      transition: 1.2s ease-in;
      transition-property: transform, opacity;
      font-weight: 700;
    }

    button {
      @include cta-button(0.6em 3em);
      transform: translateY(-4rem);
      opacity: 0;
      transition: 1.2s ease-in 0.2s;
      transition-property: transform, opacity;
      font-size: 2rem;
    }

    &--current {
      h1 {
        transition: 1.2s ease-in-out;
        transition-property: transform, opacity;
        transform: translateY(0);
        opacity: 1;
      }

      button {
        transition: 1.2s ease-in-out 0.2s;
        transition-property: transform, opacity;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  @media (min-width: 1536px) {
    height: 680px;

  }

  @media (max-width: $bp-mobile) {

    .controls {
      @include row(center, center);
      position: absolute;
      bottom: 11rem;
      right: 45%;
      top: unset;
      gap: 1.6rem;
    }
  
    .container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 4rem;
      padding-bottom: 7rem;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__content {
      height: 460px;
      text-align: center;

      h1 {
        margin-bottom: 5vh;
      }

      button {
        @include cta-button(0.6em 3.85em);
        font-size: 1.7rem;
      }
    }
    
  }
}