@use '../styles/variables' as *;

.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 41px 56px;
  position: fixed;
  width: 100%;
  background-color: $bg-primary;
  z-index: 100;
  top: 0;

  .container {
    line-height: 1.5rem;

    p,
    a {
      font-size: 1.5rem;
      flex-grow: 1;
      font-weight: 600;
    }
  }

  .btn {
    flex-grow: 6;
    @include row(flex-end, center);

    button {
      @include cta-button(0.8em 2.8em);
      background: $fc-primary;
      color: #FFFFFF;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .mobile {
    display: none;
  }

  @media (max-width: $bp-mobile) {
    height: 128px;
    
    .container {
      display: none;
    }

    .mobile {
      @include row(space-between, center);
    }
  }

}