@use '../styles/variables' as *;

.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 41px 56px;

  .container {
    line-height: 1.5rem;

    p,
    a {
      font-size: 1.5rem;
      flex-grow: 1;
      font-weight: 600;
    }
  }

  .btn {
    flex-grow: 6;
    @include row(flex-end, center);

    button {
      @include cta-button(0.7em 1.75em);
      background: $fc-primary;
      color: #FFFFFF;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

}