$bg-primary: #ffffff;
$bg-secondary: #162F52;
$fc-primary: #162F52;
$fc-gray: #736D6D;
$fc-secondary: #F4EEDB;
$btn-bg: #F15E4D;

$bp-mobile: 568px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop:1366px;
$bp-lg-desktop: 1920px;

@mixin cta-button($padding) {
  border: none;
  border-radius: 100px;
  background-color: $btn-bg;
  font-weight: 700;
  color: #ffffff;
  padding: $padding;
  cursor: pointer;
  font-size: 2.6rem;
  transition: 100ms ease-out;
  transition-property: background-color, transform, box-shadow;

  &:hover {
    background-color: lighten($btn-bg, 2%);
    transform: translateY(-1px);
    box-shadow: darken($btn-bg, 20%) 0px 6px 10px -6px;
  }
}

@mixin row($jc, $ai) {
  display: flex;
  flex-direction: row;
  justify-content: $jc;
  align-items: $ai;
}

@mixin col($jc, $ai) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}