@use '../variables' as *;

$controls-color: #C4C4C4;

.hero {
  .controls {
    @include col(center, center);
    position: absolute;
    right: 2vw;
    top: 60%;
    z-index: 2;
    gap: 1.3rem;

    button {
      cursor: pointer;

      &__slider:hover,
      &__slider:active {
        background: $controls-color;
      }
    }

    &__slider {
      width: 1.3rem;
      height: 1.3rem;
      background: transparent;
      border-radius: 100%;
      border: 2px solid $controls-color;

      &--current,
      &:hover {
        width: 1.3rem;
        height: 1.3rem;
        background: $controls-color;
        border: 2px solid $controls-color;
        border-radius: 100%;
      }

    }

  }

  &__carousel {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    @include row(stretch, center);
    scroll-snap-type: x mandatory;

    .container {
      padding-left: 16.5rem;
      padding-top: 24vh;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__smooth {
      scroll-behavior: smooth;
    }

    &__bg {
      min-width: 100%;
    }

    &__content {
      scroll-snap-align: center;
      min-height: 90vh;

      h1 {
        font-size: 5.4rem;
        font-weight: 700;
        line-height: 67px;
        margin-bottom: 5vh;
        transform: translateY(-3rem);
        opacity: 0;
        transition: all 1.2s ease-in;
      }

      button {
        @include cta-button(0.6em 3.5em);
        font-size: 2rem;
        transform: translateY(-4rem);
        opacity: 0;
        transition: all 1.4s ease-in;
      }

      &--current {
        h1 {
          transition: all 1.2s ease-in-out;
          transform: translateY(0);
          opacity: 1;
        }

        button {
          transition: all 1.4s ease-in-out;
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}