@use '../variables' as *;

.nicaragua-lo-vale {
  margin-top: 17rem;
  margin-bottom: 25rem;

  h2 {
    span {
      color: #00CCBD;
    }
  }

  .subtitulo {
    width: 40ch;
    margin-top: 5rem;
  }

  .images {
    margin-top: 10rem;
    @include row(center, center);
    gap: 6.5rem;

    .image {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 300px;
      height: 300px;
    }
  }

  .controls {
    margin-top: 5.5rem;
    display: none;
    position: relative;
    gap: 2rem;

    button {
      cursor: pointer;

      &__slider:hover,
      &__slider:active {
        background: $controls-color;
      }
    }

    &__slider {
      width: 1.6rem;
      height: 1.6rem;
      background: transparent;
      border-radius: 100%;
      border: 2px solid $controls-color;

      &--current,
      &:hover {
        width: 1.6rem;
        height: 1.6rem;
        background: $controls-color;
        border: 2px solid $controls-color;
        border-radius: 100%;
      }
    }
  }

  @media (max-width: $bp-mobile) {
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 4rem;
    }

    .subtitulo {
      width: 100%;
    }

    .images {
      justify-content: flex-start;
      width: 100%;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;

      .image {
        scroll-snap-align: start;
        width: calc(100vw - 8rem);
        height: calc(100vw - 8rem);
      }
    }

    .controls {
      @include row(center, center)
    }
  }
}