@use '../variables'as *;

.nuestro-impacto {
  padding-top: 10.5rem;

  h2 {
    font-size: 5.5rem;
    font-weight: 400;
    margin-bottom: 6rem;
  }

  &__stats {
    @include row(space-evenly, center);
    width: 100%;
    margin-bottom: 30vh;
  }

  &__stat {
    @include col(center, center);
    width: 25%;
    color: #736D6D;

    &:nth-of-type(1) {
      h3 {
        color: #00CCBD;
      }
    }

    &:nth-of-type(2) {
      h3 {
        color: #F15E4D;
      }
    }

    &:nth-of-type(3) {
      h3 {
        color: #F8B44B;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 12.4rem;
    }

    &--completed::before {
      content: "";
      position: absolute;
      width: 25%;
      height: 50%;
      // background-color: $bg-secondary;

      background: $fc-secondary;
      // background: radial-gradient(circle, $bg-secondary 50%, rgba($bg-secondary, 0.3) 100%);
      border-radius: 50%;
      z-index: -1;
      animation: ripple 1.5s ease-out forwards;
      animation-delay: 0s;
    }

    @keyframes ripple {
      from {
        opacity: 0.9;
        transform: scale(0);
      }

      to {
        opacity: 0;
        transform: scale(1.2);
      }
    }
  }

  .video {
    border-radius: 30px;
    margin-bottom: 19vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    iframe {
      width: 70vw;
      height: 40vw;
    }
  }
}