@use '../variables' as *;

.nuestro-proposito {
  margin-top: 24.3rem;
  margin-bottom: 26.2rem;

  .container {
    @include row(center, center);
    gap: 15rem;
  }

  h2 {
    width: 10ch;
  }

  p.subtitulo {
    color: $fc-gray;
    width: 46rem;
    text-align: left;
  }
}