@use '../variables' as *;

.testimonials {
  margin-top: 5vh;
  margin-bottom: 20vh;

  h2 {
    width: 20ch;
    text-align: center;
  }

  .container {
    margin-bottom: 8rem;

    .subtitulo {
      color: $fc-gray;
      width: 40ch;
      margin-top: 3rem;
    }
  }

  &__carousel {
    @include row(stretch, center);
    overflow-x: hidden;
    padding-top: 80px;
    padding-bottom: 10px;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0.1) 100%);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &:first-child {
      padding-left: 20%
    }

    &:last-child {
      padding-right: 20%;
    }
  }

  &__item {
    @include col(center, center);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    color: $fc-gray;
    background-color: $bg-primary;
    position: relative;
    padding-bottom: 8rem;
    margin: 0 4rem;
    scroll-snap-align: center;
    min-width: 78rem;
    height: 37.5rem;

    &__img {
      border-radius: 100%;
      position: absolute !important;
      top: -70px;
    }

    &__stars {
      @include row(center, center);
      gap: 2rem;
      margin-top: 10rem;
      color: #F8B44B;
    }

    p {
      margin-top: 4.4rem;
      text-align: center;
      font-size: 1.8rem;
      width: 38ch;
      line-height: 27px;

      &:last-of-type {
        margin-top: 2rem;
        font-size: 1.2rem;

        b {
          a {
            text-decoration: underline;
            font-size: 1.2rem;
            color: $fc-primary;
          }
        }
      }
    }

    //controls
    .controls {
      border: none;
      position: absolute;
      top: 50%;
      cursor: pointer;
    }

    .prev-slide {
      left: 5%;
    }

    .next-slide {
      right: 5%;
    }
  }
}