@use '../variables'as *;

.aliados-emprende {
  margin-top: 20vh;
  margin-bottom: 20px;
  h2 {
    margin-bottom: 7.8rem;
  }

  .carousel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
  }

  .InfiniteCarouselArrowIcon {
    border-color: $controls-color;
  }

  .InfiniteCarouselDots {
    @include row(center, center);
    gap: 2rem;
    width: 100%;
  }
  
  .InfiniteCarouselDot {
    background-color: $controls-color;
    padding: 2px;
    border-radius: 100%;
    margin: 0;
  }

  .InfiniteCarouselDotIcon {
    background-color: $bg-primary;
    width: 12px;
    height: 12px;
  }

  .InfiniteCarouselDotActiveIcon {
    background-color: $controls-color;
  }


  button.cta{
    @include col(center, center);
    @include cta-button(0.5em 2.8em);
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 15rem;
  }
  hr

  &__list {
    @include row(space-evenly, center);
    gap: 8rem;

    img {
      border-radius: 100%;
    }
  }

  @media (max-width: $bp-mobile) {
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 0;
    }

    .carousel {
      width: 100%;
      margin-bottom: 10rem;
    }

    button.cta {
      font-size: 1.8rem;
      height: 5.2rem;
      WIDTH: calc(100% - 8rem);
    }
  }
}