@use '../variables'as *;

.aliados-emprende {
  margin-top: 20vh;

  h2 {
    margin-bottom: 7.8rem;
  }

  .carousel {
    width: 80%;
    margin: 0 auto;
  }

  &__list {
    @include row(space-evenly, center);
    gap: 8rem;

    img {
      border-radius: 100%;
    }
  }
}