@use '../variables' as *;

.beneficios {
  margin-top: 14vh;

  .aliados {
    margin-top: 15rem;
    margin-bottom: 20rem;
    @include row(center, center);
    gap: 5rem;
    text-align: left;

    h2 {
      width: 10ch;
      margin: 0;
    }

    p.subtitulo {
      width: 29ch;
      text-align: left;
    }
  }

  h2 {
    margin-top: 15rem;
    margin-bottom: 10rem;
  }

  &__list {
    @include row(space-around, flex-start);
    gap: 15rem;
    margin-bottom: 15rem;

    .beneficio {
      @include col(center, center);

      &__img {
        margin-bottom: 3rem;
      }

      h4 {
        font-weight: 700;
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }

      p {
        line-height: 24px;
        font-size: 2rem;
        width: 20ch;
        color: $fc-gray;
      }
    }
  }

  @media (max-width: $bp-mobile) {
    margin-top: 0;
    text-align: center;

    .aliados {
      margin: 10rem 0;
      @include col(center, center);
      text-align: center;

      .subtitulo {
        text-align: center !important;
        width: 100%;
      }
    }

    &__list {
      @include col(center, center);
  
      .beneficio {
  
        &__img {
          margin-bottom: 3rem;
        }
  
        h4 {
          font-weight: 700;
          font-size: 2.4rem;
          margin-bottom: 2rem;
        }
  
        p {
          line-height: 24px;
          font-size: 2rem;
          width: 20ch;
        }
      }
    }

    
  }
}