@use '../variables' as *;

.como-apoyar {

  margin-top: 15rem;
  margin-bottom: 20rem;

  .container {
    @include row(center, center);
    gap: 5rem;
  }
  h2 {
    margin-bottom: 7.5rem;
  }

  &__list {
    li {
      padding-left: 2rem;
      font-size: 2rem;
      list-style-position: inside;
    }
  }
}