@use '../variables' as *;

.equipo {
  padding-bottom: 20vh;

  h2 {
    // margin-bottom: 0rem;
  }

  &__carousel {
    width: 85vw;
    @include row(flex-start, flex-start);
    gap: auto;
    overflow-x: hidden;
    margin-bottom: 5rem;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;

    .integrante {
      scroll-snap-align: start;

      @include col(center, center);
      min-width: 33%;

      @media (max-width: $bp-laptop) {
        min-width: 50%;
      }

      @media (max-width: $bp-tablet) {
        min-width: 100%;
      }


      &__img {
        border-radius: 100%;
        margin-bottom: 3rem;
        position: relative;
        bottom: -120px;
      }

      &__text {
        @include col(flex-start, center);
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 90%;
        padding-top: 110px;
        min-height: 350px;
      }

      p {
        width: 70%;
        color: $fc-gray;
        font-size: 1.5rem;

        b {
          font-size: 2rem;
          color: $fc-primary;
        }

        span {
          color: $fc-primary;
          font-weight: 300;
          margin-bottom: 2rem;
          display: block;
          font-style: italic;
        }
      }
    }
  }

  &__controls {
    @include row(center, center);
    gap: 2rem;

    button {
      border: none;
      height: 2.2rem;
      background-color: transparent;
      cursor: pointer;
      @include col(flex-end, center);

      div {
        width: 9rem;
        height: 0.8rem;
        background-color: #73707c;
        border-radius: 3px;
        transition-property: height, background-color;
        transition: ease-in 0.2s;
      }
    }

    .active {
      div {
        transition-property: height, background-color;
        transition: ease-in-out 0.4s;
        width: 9rem;
        height: 1rem;
        background-color: $fc-primary;
      }
    }
  }

}