@use '../variables' as *;

.equipo {
  margin-top: 15rem;
  margin-bottom: 20rem;

  h2 {
    margin-bottom: 4rem;
  }

  .subtitulo {
    width: 43ch;
    margin-bottom: 10rem;
  }


  &__carousel {
    width: 85vw;
    @include row(flex-start, flex-start);
    gap: auto;
    overflow-x: hidden;
    margin-bottom: 5rem;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;

    @media (min-width: $bp-lg-desktop) {
      width: 60vw;
    }

    .integrante {
      scroll-snap-align: start;

      @include col(center, center);
      min-width: 33%;

      @media (max-width: $bp-laptop) {
        min-width: 50%;
      }

      @media (max-width: $bp-tablet) {
        min-width: 100%;
      }


      &__img {
        border-radius: 100%;
        margin-bottom: 3rem;
        position: relative;
        bottom: -80px;

        img {
          border-radius: 100%;
        }
      }

      &__text {
        @include col(flex-start, center);
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 270px;
        padding-top: 75px;
        height: 240px;
      }

      p {
        width: 70%;
        color: $fc-gray;
        font-size: 1.1rem;
        font-style: italic;
        b {
          font-size: 1.5rem;
          color: $fc-primary;
        }

        span {
          color: $fc-primary;
          font-weight: 300;
          margin-bottom: 1.2rem;
          display: block;
          font-style: italic;
        }
      }
    }
  }

  &__controls {
    @include row(center, center);
    gap: 2rem;

    button {
      border: none;
      height: 2.2rem;
      background-color: transparent;
      cursor: pointer;
      @include col(flex-end, center);

      div {
        width: 7rem;
        height: 0.6rem;
        background-color: #73707c;
        border-radius: 5px;
        transition-property: height, background-color;
        transition: ease-in 0.2s;
      }
    }

    .active {
      div {
        transition-property: height, background-color;
        transition: ease-in-out 0.4s;
        width: 7rem;
        height: 0.8rem;
        background-color: $fc-primary;
      }
    }
  }

  @media (max-width: $bp-mobile) {
    margin: 10rem 0;

    .subtitulo {
      width: 100%;
      margin-bottom: 0;
    }

    &__controls {
      gap: 1rem;
      
      button {
        div {
          width: 4rem;
          height: 1rem;
        }
      }

      .active {
        div {
          width: 4rem;
          height: 1.2rem;
        }
      }
    }

  }
}