@use '../variables' as *;

.nuestros-objetivos {
  margin-top: 24.3rem;
  margin-bottom: 20rem;

  .container {
    @include row(center, center);
    gap: 15rem;
  }

  h2 {
    width: 10ch;
  }

  p.subtitulo {
    color: $fc-gray;
    width: 46rem;
    text-align: left;
    line-height: 31.5px;
  }

  @media (max-width: $bp-mobile) {
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;

    .container {
      @include col(center, center);
      gap: 5rem;
      padding: 0 3.8rem;
    }

    h2 {
      width: 100%;
    }

    p.subtitulo {
      text-align: center;
      width: 100%;
      line-height: 27px;
    }
  }
}